.c-card {
    width: 100%;
    margin: map-get($spacing__map, large)/2 0;
    padding: map-get($spacing__map, large);
    border-radius: 2px;
    background-color: white;
}

.c-card__header {
    margin: 0;
    padding: 0 0 map-get($spacing__map, medium) 0;
    border-bottom: 1px solid $grey-85;

    letter-spacing: 0;
    font-family: 'Droid Sans', sans-serif;
    font-weight: 300;
}

.c-card__sub-header {
    margin: map-get($spacing__map, medium) 0;
    color: $grey-50;
    font-weight: 300;
}

.c-card__body {
    font-size: .8em;
}

.c-card__list {
    display: flex;
    flex-direction: column;
    width: 100%;

    a {
        text-decoration: none;
    }
}

@media (min-width : 768px) {
    .c-card__list {
        flex-direction: row;
        justify-content: center;
    }

    .c-card {
        width: 30vw;
        max-width: 350px;
        margin: map-get($spacing__map, large)/2;
    }
}
