.c-connection-banner__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: -$bannerHeight;
    left: 0;
    width: 100vw;
    height: $bannerHeight;
    z-index: $sky-layer;
}

.c-connection-banner__container.c--online {
    top: 0;
    background-color: $success-color;
    transition: background-color 500ms;
    // animation: showOnline 3s;
}

.c-connection-banner__container.c--offline {
    top: 0;
    background-color: $fail-color;
    transition: background-color 500ms;
    // animation: showOffline 3s;
}

.c-connection-banner__status-label {
    color: white;
    font-weight: 300;
    font-size: 14px;
}

@keyframes showOnline {
    0% {top: -$bannerHeight}
    20% {top: 0}
    80% {top: 0}
    100% {top: -$bannerHeight}
}

@keyframes showOffline {
    0% {top: -$bannerHeight}
    20% {top: 0}
    80% {top: 0}
    100% {top: -$bannerHeight}
}
