.c-ingredient-list {
    width: 100%;
}

.c-ingredient-list__item {
    width: 100%;
}

.c-ingredient-list__item-image-container {
    height: 100%;
}

.c-ingredient-list__item-image {
    height: 100%;
    width: 40%;
    margin: 0 map-get($spacing__map, medium);

    background-color: $darkOverlayColor;
    text-align: center;
    border-radius: $default-border-radius;
    overflow: hidden;
    img {
        width: 100%;
    }

    p {
        margin: map-get($spacing__map, medium) 0;
        color: white;
    }
}
