$routeIconDimension: 30px;

.c-route__detail-map-container {
    width: 100vw;
    height: 100vw;
}

.c-route__detail-map {
    width: 100%;
    height: 100%;
    border: none;
}

.c-route__detail-row-icon-container {
    width: $routeIconDimension;
    height: $routeIconDimension;
    border-radius: $routeIconDimension/2;
    overflow: hidden;
}

.c-route__detail-row-icon {
    width: 100%;
    height: 100%;
}

.c-route__detail-row {
}

.c-card__thumbnail-container {
    width: 90px;
    height: 90px;
}

.c-card__thumbnail {
    width: 100%;
    height: auto;
}
@media (min-width : 768px) {
    .c-route__detail-map-container {
        max-width: 500px;
        max-height: 500px;
    }
}

