.c-sw-alert__container {
    width: 80vw;
    max-width: 400px;
    padding: map-get($spacing__map, medium)*2;
    margin-bottom: 10vh;
    background-color: $grey-97;
    border-radius: 2px;
}

.c-sw-alert__header {
    margin: 0;
    padding: map-get($spacing__map, medium) 0 map-get($spacing__map, medium)*2 0;

    font-weight: 400;
    border-bottom: 1px solid $grey-70;
}

.c-sw-alert__header {

}
